
<div class="rr-nav-brand">
  <div style="display: flex; align-items: center;">
    <%= link_to dashboard_path do %>
      <%= image_tag 'logo-small.png', style: 'width: 204px;' %>
    <% end %>
    <span id="updates-indicator" style="display: none">Updates<span id="unread-count"></span></span>
  </div>
</div>
