#unread-count {
  padding: 1px 5px 1px 5px;
  background-color: black;
  border-radius: 40px;
  margin-left: 3px;
  background-color: #F66700;
}

#updates-indicator {
  margin-left: 20px;
  background-color: #f14b2b;
  color: white;
  padding: 6px;
  border-radius: 30px;
  font-weight: bolder;
  font-size: 12px;
}
