<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= render 'shared/head' %>
  </head>

  <body class="login-body">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
